<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>home page</h1>
    <h3> <%= 1+5 %> </h3> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus unde sapiente quibusdam error earum ipsum necessitatibus nulla numquam, debitis non incidunt alias officiis vero, praesentium tenetur possimus! Doloribus, repellendus incidunt.
    </p>

<button>click me</button>
</body>
</html>